/*パソコン(pc)画面*/
.header-row1{
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: space-between; /* 左右に配置 */
    align-items: center;            /* 垂直方向中央揃え */
    background-color: #3186cc;

    color: white;
}

.page1{
    text-align: center;
}


/*フッター*/
.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background-color: #333;
  
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  font-family: Arial, sans-serif;
}