/*ログインボタン*/
login-button {
  position: fixed;
  top: 120px;
  right: 10px;
  padding: 10px 15px;
  background-color: #0078D4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
}

login-button:hover {
  background-color: #005a9e;
}

/*新規登録ボタン*/
new-button {
  position: fixed;
  top: 120px;
  right: 100px;
  padding: 10px 15px;
  background-color:#0078D4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
}

new-button:hover {
  background-color: #005a9e;
}

/* メインコンテンツのマージン調整 */
main {
  margin-top: 120px; /* ヘッダーの高さ分のマージンを追加 */
  margin-bottom: 80px; /* フッターの高さ分のマージンを追加 */
}



